{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/variables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin-mobile-nav.css' %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'js/admin.js' %}" defer></script>
{% endblock %}

{% block branding %}
<div class="d-flex align-items-center">
    <button type="button" class="mobile-menu-toggle d-lg-none" onclick="toggleMobileMenu()">
        <i class="bi bi-list"></i>
    </button>
    <h1 id="site-name"><a href="{% url 'admin:index' %}">F.B Nation Admin</a></h1>
</div>
{% endblock %}